*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
    font: bold 14px;
    padding: 15px;
    text-align: center;
    color: #E67E22;
}

body {
    padding: 25px;
    font: 16px 'Boldonse';
    background-color: #2C2F33;
    margin: 0;
    color: #7F8C8D;
    font-size: 14px;
}

h1 {
    text-align: center;
    font-size: 65px;
    margin-bottom: 20px;
    font-family: 'Orbitron', Tahoma;
}

h2 {
    font-size: 25px;
    color: #F1C40F;
}

h4 {
    font-size: 16px;
}

li {
    padding: 10px;
    font-weight: bold;
    font-family: 'Orbitron', Tahoma;
    color: #F1C40F;
}

ol {
    width: 90%;
    padding-left: 50px;
}

ul {
    font-size: 14px;
    padding-left: 15px;
    font-weight: normal;
    font-family: Tahoma;
}



.about-us {
    font-family: 'Orbitron', Tahoma;
    font-weight: bold;
    padding: 10px;
    width: 75%;
    margin: 0 auto;
}

.details {
    padding: 10px;
    font-weight: normal;
    font-family: 'Boldonse', Tahoma;
}

.header-hyperlinks {
    align-items: left;
    font-family: 'Boldonse', Tahoma;
}

.hyperlink-break {    
    border: 2px solid #ebedef;
    margin-top: 10px;
}

.what-we-do-list {
    font-weight: bold;
    font-family: tahoma;
}



#join-us-discord {
    position: absolute;
    top: 0;
    right: 0;
    font: bold 16px 'Orbitron', Tahoma;
}

#join-us-org {
    position: absolute;
    top: 30px;
    right: 0;
    font: bold 16px 'Orbitron', Tahoma;
}

#useful-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 20px;
    margin: 0 auto;
    font: bold 18px 'Orbitron', Tahoma;
}
